.desktop
{
position:absolute;
background-color:#ffffff;
height:1829px;
width:1440px;
padding:0px;
}
.desktop2
{
background-color:#ffffff;
height:1828.518798828125px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
gap:30px;
position:absolute;
top:0px;
left:-35px;
}
.header
{
height:79px;
width:1440px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
}
.menu
{
background-color:#ffffff;
height:35px;
width:328.6007080078125px;
align-self:flex-start;
left:1111.08px;
top:0px;
position:absolute;
padding-left:25px;
padding-right:25px;
display:flex;
flex-direction:column;
gap:68px;
border-style:hidden;
outline:none;
}
.buttons
{
height:35px;
width:244px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:flex-end;
gap:68px;
position:absolute;
top:0px;
left:42.3px;
}
.btnhébergement
{
width:113px;
height:35px;
}
.hébergements
{
color:#0064fb;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:112px;
}
.bgbar
{
background-color:rgba(242, 242, 242, 0);
height:2px;
width:113px;
}
.bluebar
{
background-color:#0064fb;
height:2px;
width:113px;
}
.btnactivités
{
align-self:flex-start;
left:181px;
top:0px;
position:absolute;
width:63px;
height:35px;
}
.activités2
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
left:181px;
top:16px;
width:63px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle26
{
background-color:rgba(242, 242, 242, 0);
height:2px;
width:63px;
top:0px;
left:181px;
position:absolute;
}
.logo-reservia
{
background-color:#ffffff;
height:79px;
width:161.08966064453125px;
padding-left:50px;
padding-right:50px;
padding-top:30px;
padding-bottom:30px;
display:flex;
flex-direction:column;
gap:10px;
border-style:hidden;
outline:none;
position:absolute;
}
.logo2
{
width:61.089656829833984px;
height:19px;
left:50px;
top:30px;
position:absolute;
}
.booki
{
background-color:#0064fb;
height:19px;
width:61.089656829833984px;
left:50px;
top:30px;
position:absolute;
}
.group12
{
width:2.895948886871338px;
height:6.113669395446777px;
left:85.53px;
top:38.56px;
position:absolute;
}
.ellipse14
{
background-color:#0064fb;
height:2.895948886871338px;
width:2.895948886871338px;
width:2.895948886871338px;
height:2.895948886871338px;
left:85.53px;
top:38.56px;
width:2.895948886871338px;
height:2.895948886871338px;
position:absolute;
}
.vector2
{
background-color:#000000;
height:18px;
width:14px;
left:18px;
top:15px;
position:absolute;
}
.body
{
height:1719.518798828125px;
width:1440px;
padding-left:50px;
padding-right:50px;
display:flex;
flex-direction:column;
gap:35px;
top:109px;
position:relative;
}
.infogroup
{
height:281px;
width:1340px;
padding:0px;
display:flex;
flex-direction:column;
gap:35px;
left:50px;
position:relative;
}
.headline
{
height:53px;
width:1340px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
border-style:hidden;
outline:none;
}
.trouvezvotrehébergementpourdesvacancesderêve
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:1340px;
}
.enpleincentre-villeouenpleinenature
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:1340px;
}
.search-bar
{
background-color:#ffffff;
height:49px;
width:377px;
border-radius:15px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
top:88px;
left:0px;
}
.group15
{
width:50px;
height:49px;
}
.rectangle14
{
background-color:#f2f2f2;
height:49px;
width:50px;
border-radius:15px 0px 0px 15px;
border:1px solid #f2f2f2;
}
.vector2
{
background-color:#000000;
height:18px;
width:14px;
left:18px;
top:15px;
position:absolute;
}
.marseille,france
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
align-self:flex-start;
left:74px;
top:14px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:147px;
display:flex;
}
.button-search/desktop
{
background-color:#0064fb;
height:49px;
width:132px;
align-self:flex-start;
left:245px;
top:0px;
position:absolute;
border-radius:0px 15px 15px 0px;
padding-left:16px;
padding-right:16px;
padding-top:15px;
padding-bottom:15px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.rechercher
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
align-self:flex-start;
left:16px;
top:14px;
position:absolute;
width:100px;
height:21px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.filterbar
{
height:50px;
width:758px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:15px;
position:absolute;
top:172px;
left:0px;
}
.filtres
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
align-self:flex-start;
top:14.5px;
left:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:54px;
display:flex;
}
.filter2
{
background-color:#ffffff;
height:50px;
width:173px;
align-self:flex-start;
left:69px;
top:0px;
position:absolute;
border-radius:25px;
padding-left:19px;
padding-right:19px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.icon
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:19px;
top:14px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector3
{
background-color:#0064fb;
height:16.260868072509766px;
width:22px;
width:22px;
height:16.260868072509766px;
top:2.86px;
width:22px;
height:16.260868072509766px;
position:absolute;
}
.économique
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Raleway;
align-self:flex-start;
left:51px;
top:15px;
position:absolute;
width:103px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.filter3
{
background-color:#ffffff;
height:50px;
width:134px;
align-self:flex-start;
left:257px;
top:0px;
position:absolute;
border-radius:25px;
padding-left:19px;
padding-right:19px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.icon2
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:19px;
top:14px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector4
{
background-color:#0064fb;
height:22px;
width:13.444442749023438px;
width:13.444442749023438px;
height:22px;
left:4px;
width:13.444442749023438px;
height:22px;
position:absolute;
}
.économique2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Raleway;
align-self:flex-start;
left:51px;
top:15px;
position:absolute;
width:64px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.filter4
{
background-color:#ffffff;
height:50px;
width:170px;
align-self:flex-start;
left:406px;
top:0px;
position:absolute;
border-radius:25px;
padding-left:19px;
padding-right:19px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.icon3
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:19px;
top:14px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector5
{
background-color:#0064fb;
height:18.33333396911621px;
width:22px;
width:22px;
height:18.33333396911621px;
top:2px;
width:22px;
height:18.33333396911621px;
position:absolute;
}
.économique3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Raleway;
align-self:flex-start;
left:51px;
top:15px;
position:absolute;
width:100px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.filter5
{
background-color:#deebff;
height:50px;
width:167px;
align-self:flex-start;
left:591px;
top:0px;
position:absolute;
border-radius:25px;
padding-left:19px;
padding-right:19px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.icon4
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:19px;
top:14px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector6
{
background-color:#0064fb;
height:20.07692527770996px;
width:18px;
width:18px;
height:20.07692527770996px;
left:2.49px;
top:1px;
width:18px;
height:20.07692527770996px;
position:absolute;
}
.économique4
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Raleway;
align-self:flex-start;
left:51px;
top:15px;
position:absolute;
width:97px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.infobar
{
background-color:#ffffff;
height:24px;
width:1340px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
gap:10px;
position:absolute;
border-style:hidden;
outline:none;
top:257px;
left:0px;
}
.icon5
{
width:24px;
height:24px;
}
.ellipse11
{
height:24px;
width:24px;
border-radius:50%;
}
.vector7
{
background-color:#0064fb;
height:10px;
width:4px;
width:4px;
height:10px;
left:10px;
top:7px;
position:absolute;
}
.plusde500logementssontdisponiblesdanscetteville
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
align-self:flex-start;
left:34px;
top:2.5px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:1306px;
display:flex;
}
.group4
{
width:26.901641845703125px;
height:27.000030517578125px;
left:695px;
top:208px;
position:absolute;
}
.vector8
{
background-color:#ffffff;
height:27.000030517578125px;
width:26.901641845703125px;
width:26.901641845703125px;
height:27.000030517578125px;
left:745px;
top:208px;
width:26.901641845703125px;
height:27.000030517578125px;
position:absolute;
}
.sectiongroup
{
height:611.5px;
width:1340px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
gap:40px;
position:absolute;
top:207px;
left:50px;
}
.offers-main
{
background-color:#f2f2f2;
height:611.5px;
width:871px;
border-radius:15px;
padding:30px;
display:flex;
flex-direction:column;
gap:30px;
position:absolute;
}
.hébergementsàmarseille
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
left:30px;
top:30px;
position:absolute;
width:811px;
}
.frame15
{
height:207.25px;
width:811px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:30px;
position:absolute;
top:86px;
left:30px;
}
.card-main
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle20
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame16
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.hôtelduport
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde52€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon6
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector9
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon7
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector10
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon8
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector11
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon9
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector12
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon10
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector13
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.card-main2
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:280.33px;
top:0px;
position:absolute;
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle202
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame162
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.hôtelchezamina
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde96€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars2
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon11
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector14
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon12
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector15
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon13
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector16
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon14
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector17
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon15
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector18
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.card-main3
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:560.66px;
top:0px;
position:absolute;
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle203
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame163
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.hôtellesmouettes
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde76€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars3
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon16
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector19
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon17
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector20
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon18
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector21
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon19
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector22
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon20
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector23
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.column2
{
height:207.25px;
width:811px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:30px;
position:absolute;
top:323.25px;
left:30px;
}
.card-main4
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle204
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame164
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.hôteldelamer
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde46€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars4
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon21
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector24
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon22
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector25
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon23
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector26
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon24
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector27
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon25
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector28
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.card-main5
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:280.33px;
top:0px;
position:absolute;
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle205
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame165
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.aubergelacanebière
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde25€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars5
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon26
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector29
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon27
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector30
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon28
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector31
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon29
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector32
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon30
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector33
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.card-main6
{
background-color:#ffffff;
height:207.25px;
width:250.3333282470703px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:560.66px;
top:0px;
position:absolute;
border-radius:20px;
padding-bottom:15px;
display:flex;
flex-direction:column;
gap:4px;
border-style:hidden;
outline:none;
}
.rectangle206
{
height:124px;
width:250.3333282470703px;
border-radius:20px 20px 0px 0px;
border:5px solid #ffffff;
}
.frame166
{
height:64.25px;
width:250.3333282470703px;
padding-left:15px;
padding-right:15px;
display:flex;
flex-direction:column;
gap:8px;
top:128px;
position:relative;
}
.aubergelepanier
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.nuitàpartirde23€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:27px;
left:15px;
position:absolute;
width:220.3333282470703px;
}
.stars6
{
width:81px;
height:13.25px;
top:51px;
left:15px;
position:absolute;
}
.icon31
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:51px;
position:absolute;
}
.vector34
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon32
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:31.67px;
top:51px;
position:absolute;
}
.vector35
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon33
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:48.35px;
top:51px;
position:absolute;
}
.vector36
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon34
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:65.02px;
top:51px;
position:absolute;
}
.vector37
{
background-color:#0064fb;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.icon35
{
background-color:#ffffff;
height:13.25px;
width:14.29411792755127px;
padding:0px;
border-style:hidden;
outline:none;
left:81.7px;
top:51px;
position:absolute;
}
.vector38
{
background-color:#f2f2f2;
height:13.25px;
width:14.29411792755127px;
width:14.29411792755127px;
height:13.25px;
}
.afficherplus
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
left:30px;
top:560.5px;
width:811px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.offers-sponsored
{
background-color:#f2f2f2;
height:611.5px;
width:429px;
align-self:flex-start;
left:911px;
top:0px;
position:absolute;
border-radius:15px;
padding:30px;
display:flex;
flex-direction:column;
gap:30px;
}
.titre
{
height:26px;
width:369px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:30px;
left:30px;
}
.icon36
{
background-color:#ffffff;
height:15.75px;
width:18px;
align-self:flex-start;
left:351.13px;
top:5px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector39
{
background-color:#0064fb;
height:15.75px;
width:18px;
width:18px;
height:15.75px;
}
.lespluspopulaires
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:300.3082275390625px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.frame167
{
height:492px;
width:369px;
padding:0px;
display:flex;
flex-direction:column;
gap:30px;
left:30px;
top:86px;
position:relative;
}
.card-desktop
{
background-color:#ffffff;
height:144px;
width:369px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
border-style:hidden;
outline:none;
}
.frame168
{
height:134px;
width:246px;
align-self:flex-start;
left:123px;
top:5px;
position:absolute;
padding-left:15px;
padding-right:5px;
padding-top:10px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:24px;
}
.frame169
{
height:83px;
width:226px;
padding:0px;
display:flex;
flex-direction:column;
gap:5px;
left:15px;
top:10px;
position:relative;
}
.aubergelacanebière2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:226px;
}
.nuitàpartirde25€2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:24px;
left:0px;
position:absolute;
width:226px;
}
.stars7
{
width:67.9997329711914px;
height:12px;
top:117px;
left:15px;
position:absolute;
}
.icon37
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:117px;
position:absolute;
}
.vector40
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon38
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:28.99px;
top:117px;
position:absolute;
}
.vector41
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon39
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:43px;
top:117px;
position:absolute;
}
.vector42
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon40
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:56.99px;
top:117px;
position:absolute;
}
.vector43
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon41
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:70.99px;
top:117px;
position:absolute;
}
.vector44
{
background-color:#f2f2f2;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.rectangle24
{
height:144px;
width:123px;
border-radius:20px 0px 0px 20px;
border:0px solid #ffffff;
}
.card-desktop2
{
background-color:#ffffff;
height:144px;
width:369px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
border-style:hidden;
outline:none;
top:174px;
left:0px;
}
.frame1610
{
height:134px;
width:246px;
align-self:flex-start;
left:123px;
top:5px;
position:absolute;
padding-left:15px;
padding-right:5px;
padding-top:10px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:24px;
}
.frame1611
{
height:83px;
width:226px;
padding:0px;
display:flex;
flex-direction:column;
gap:5px;
left:15px;
top:10px;
position:relative;
}
.aucœurdel’eauchambresd’hôtes
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:226px;
}
.nuitàpartirde71€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:43px;
left:0px;
position:absolute;
width:226px;
}
.stars8
{
width:67.9997329711914px;
height:12px;
top:117px;
left:15px;
position:absolute;
}
.icon42
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:117px;
position:absolute;
}
.vector45
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon43
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:28.99px;
top:117px;
position:absolute;
}
.vector46
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon44
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:43px;
top:117px;
position:absolute;
}
.vector47
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon45
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:56.99px;
top:117px;
position:absolute;
}
.vector48
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon46
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:70.99px;
top:117px;
position:absolute;
}
.vector49
{
background-color:#f2f2f2;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.rectangle242
{
height:144px;
width:123px;
border-radius:20px 0px 0px 20px;
border:0px solid #ffffff;
}
.card-desktop3
{
background-color:#ffffff;
height:144px;
width:369px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
border-style:hidden;
outline:none;
top:348px;
left:0px;
}
.frame1612
{
height:134px;
width:246px;
align-self:flex-start;
left:123px;
top:5px;
position:absolute;
padding-left:15px;
padding-right:5px;
padding-top:10px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:24px;
}
.frame1613
{
height:83px;
width:226px;
padding:0px;
display:flex;
flex-direction:column;
gap:5px;
left:15px;
top:10px;
position:relative;
}
.hôteltoutbleuetblanc
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
width:226px;
}
.nuitàpartirde68€
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
line-height:auto;
border-style:hidden;
outline:none;
top:24px;
left:0px;
position:absolute;
width:226px;
}
.stars9
{
width:67.9997329711914px;
height:12px;
top:117px;
left:15px;
position:absolute;
}
.icon47
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:15px;
top:117px;
position:absolute;
}
.vector50
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon48
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:28.99px;
top:117px;
position:absolute;
}
.vector51
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon49
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:43px;
top:117px;
position:absolute;
}
.vector52
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon50
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:56.99px;
top:117px;
position:absolute;
}
.vector53
{
background-color:#0064fb;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.icon51
{
background-color:#ffffff;
height:12px;
width:11.999937057495117px;
padding:0px;
border-style:hidden;
outline:none;
left:70.99px;
top:117px;
position:absolute;
}
.vector54
{
background-color:#f2f2f2;
height:12px;
width:11.999937057495117px;
width:11.999937057495117px;
height:12px;
}
.rectangle243
{
height:144px;
width:123px;
border-radius:20px 0px 0px 20px;
border:0px solid #ffffff;
}
.sectionactivités
{
height:559.0187377929688px;
width:1340px;
padding:30px;
display:flex;
flex-direction:column;
gap:30px;
left:50px;
top:962.5px;
position:relative;
}
.activitésàmarseille
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:30px;
left:30px;
position:absolute;
width:1280px;
}
.frame14
{
height:439px;
width:1280px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:30px;
position:absolute;
top:90.01px;
left:30px;
}
.card10
{
height:439px;
width:297.5px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
border-style:hidden;
outline:none;
}
.rectangle27
{
height:380px;
width:297.5px;
border-radius:20px 20px 0px 0px;
}
.frame1614
{
background-color:#ffffff;
height:59px;
width:297.5px;
border-radius:0px 0px 20px 20px;
padding-left:19px;
padding-right:19px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:column;
gap:10px;
top:380px;
position:relative;
}
.vieuxport
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:20px;
left:19px;
position:absolute;
width:259.5px;
}
.card11
{
height:439px;
width:297.5px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:327.5px;
top:0px;
position:absolute;
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
border-style:hidden;
outline:none;
}
.rectangle272
{
height:380px;
width:297.5px;
border-radius:20px 20px 0px 0px;
width:297.5px;
height:380px;
width:297.5px;
height:380px;
}
.frame1615
{
background-color:#ffffff;
height:59px;
width:297.5px;
width:297.5px;
height:59px;
border-radius:0px 0px 20px 20px;
padding-left:19px;
padding-right:19px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:column;
gap:10px;
top:380px;
position:relative;
}
.fortdepomègues
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:20px;
left:19px;
position:absolute;
width:259.5px;
}
.card12
{
height:439px;
width:297.5px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:655px;
top:0px;
position:absolute;
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
border-style:hidden;
outline:none;
}
.rectangle273
{
height:380px;
width:297.5px;
border-radius:20px 20px 0px 0px;
width:297.5px;
height:380px;
width:297.5px;
height:380px;
}
.frame1616
{
background-color:#ffffff;
height:59px;
width:297.5px;
width:297.5px;
height:59px;
border-radius:0px 0px 20px 20px;
padding-left:19px;
padding-right:19px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:column;
gap:10px;
top:380px;
position:relative;
}
.parcnationaldescalanques
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:20px;
left:19px;
position:absolute;
width:259.5px;
}
.card13
{
height:439px;
width:297.5px;
filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.10000000149011612));
align-self:flex-start;
left:982.5px;
top:0px;
position:absolute;
border-radius:20px;
padding:0px;
display:flex;
flex-direction:column;
border-style:hidden;
outline:none;
}
.rectangle274
{
height:380px;
width:297.5px;
border-radius:20px 20px 0px 0px;
width:297.5px;
height:380px;
width:297.5px;
height:380px;
}
.frame1617
{
background-color:#ffffff;
height:59px;
width:297.5px;
width:297.5px;
height:59px;
border-radius:0px 0px 20px 20px;
padding-left:19px;
padding-right:19px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:column;
gap:10px;
top:380px;
position:relative;
}
.notre-dame-de-la-garde
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:20px;
left:19px;
position:absolute;
width:259.5px;
}
.footer
{
background-color:#f2f2f2;
height:163px;
width:1340px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
border-style:hidden;
outline:none;
top:1447.51px;
left:50px;
}
.apropos
{
height:163px;
width:446.6666564941406px;
padding:20px;
display:flex;
flex-direction:column;
gap:15px;
position:absolute;
}
.àpropos
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
left:20px;
top:20px;
position:absolute;
width:77px;
}
.fonctionnementdusite
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
left:20px;
top:56px;
width:176px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.conditionsgénérales
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
left:20px;
top:90px;
width:157px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.donnéesetconfidentialité
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
left:20px;
top:124px;
width:194px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.noshébergements
{
height:163px;
width:446.66668701171875px;
align-self:flex-start;
left:446.66px;
top:0px;
position:absolute;
padding:20px;
display:flex;
flex-direction:column;
gap:15px;
}
.noshébergements2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
top:20px;
width:165px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.chartequalité
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
top:56px;
width:104px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.proposervotrehôtel
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
top:90px;
width:150px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.assistance
{
height:163px;
width:446.66668701171875px;
align-self:flex-start;
left:893.33px;
top:0px;
position:absolute;
padding:20px;
display:flex;
flex-direction:column;
gap:15px;
}
.assistance2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Raleway;
top:20px;
width:93px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.centred’aide
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
top:56px;
width:97px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nouscontacter
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Raleway;
top:90px;
width:114px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
